#chapter {
  margin-left: 5em;

  // .thanks {
  //   @extend .alert;
  //   @extend .alert-success;
  // }

  p, ol, ul {
    line-height: 1.75;
  }

  .image {
    margin: 3rem 0;
    text-align: center;

    img {
      border: 1px solid #eee;
      max-width: 95%;
    }

    .missing_image {
      background: red;
      color: white;
    }
  }

  .aside, .tip, .admonitionblock, .sidebarblock {
    background: #D9F1FF;
    padding: 1rem;
    margin-bottom: 2rem;

    .title {
      font-weight: bold;
      font-size: 110%;
    }
  }

  pre, code {
    font: 15px 'Source Code Pro';
  }
}

#section_listing {
  list-style-type: none;
  margin-left: -2rem;
  font-size: 85%;

  li {
    margin-bottom: 1rem;

    &.major {
      font-weight: bold;
    }

    &.minor {
      font-size: 90%;
      line-height: 90%;
    }
  }
}

.note_button {
  float: left;
  position: absolute;
  left: -7rem;
  font-size: 90%;
}

.footnote_container {
  margin: 20px 0;
  color: lighten(#444, 25);
  font-size: 90%;

  .number {
    font-size: 75%;
    float: left;
    margin-right: 10px;
  }
}


.sticky {
  position: sticky;
  top: 2rem;
}
