.note {
  .state-new, .state-accepted, .state-reopened {
    color: green;
  }

  .state-rejected {
    color: #df0000;
  }

  .comment {
    border: 1px solid #eee;
    margin: 1rem;

    .avatar {
      height: 70px;
      padding: 0px;

      blockquote {
        margin-left: 15px;
        font-size: 85%;
      }

      p {
        line-height: 150%;
      }

      img {
        height: 100%;
      }
    }
  }
}
