.note {
  padding: 1rem;
  margin: 0.5rem;

  img {
    max-width: 100%;
  }
}

.avatar {
  img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
}

.noteBody {
  border: 1px solid #efefef;
  padding: 0.6rem;
}

.buttons {
  button + button {
    margin-left: 0.5rem;
  }
}
