*/db/*.sqlite
backend/public/assets*
backend/public/uploads/*
backend/log
backend/shared
backend/.aws_credentials
backend/.oauth_credentials
*/tmp
backend/repos/*
backend/spec/repos/*
backend/capybara-*
*/node_modules
*/dump.rdb
