.comment {
  padding: 1rem;
  margin: 0.5rem;
}

.avatar {
  img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
}

.commentHeader {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: #e8e8e8;
  padding-top: 0.6rem;
  height: 44px;
}

.commentBody {
  border: 1px solid #efefef;
  padding: 0.6rem;

  form {
    textarea {
      width: 100%;
      padding: 0.5rem;
    }

    input[type=submit] {
      float: right;
      padding: 0.5rem;
      font-size: 110%;
      font-weight: bold;
    }
  }
}
