<h2>Sign in</h2>

<% unless params.valid? %>
  <div class="errors">
    <h3>There was a problem with your submission</h3>
    <ul>
      <% params.error_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%=
  form_for :user, routes.sign_in_path do

    div class: "form-group row" do
      label :email, class: "col-sm-2"
      email_field :email, required: true, class: "form-control col-sm-3"
    end

    div class: "form-group row" do
      label :password, class: "col-sm-2"
      password_field :password, required: true, class: "form-control col-sm-3"
    end

    submit 'Sign In', class: "btn btn-primary"
  end
%>
