.element-group {
  .element {
    background: white;
  }

  margin-bottom: 20px;
}

.notes {
  .element {
    padding: 1rem;
    background: white;
  }

  .note {
    margin: 20px 0px;
    margin-left: 0.5rem;
    padding-left: 5px;
    padding-top: 5px;
    border: 1px solid lighten(#007bff, 30%);
    background: lighten(#007bff, 45%);
    border-radius: 10px;

    .body {
    }

    .avatar {
      img {
        border-radius: 50%;
      }
      background: transparent;
      width: 80px;
    }
  }
}

.note {
  .state-new, .state-accepted, .state-reopened {
    color: green;
  }

  .state-rejected {
    color: #df0000;
  }

  .comment {
    border: 1px solid #eee;
    margin: 1rem;

    .avatar {
      height: 70px;
      padding: 0px;

      img {
        height: 100%;
      }
    }
  }
}
