.element-group {
  margin-bottom: 20px; }
  .element-group .element {
    background: white; }

.notes .element {
  background: white; }
  .notes .element p {
    padding: 1rem; }
  .notes .element .chapter-info {
    padding: 1rem;
    font-size: 85%;
    color: #aaa; }

.notes .note {
  margin: 20px 0px;
  padding-left: 1rem;
  padding-top: 1rem;
  border: 1px solid #99caff;
  background: #f0f7ff;
  border-radius: 10px; }
  .notes .note .avatar {
    background: transparent;
    width: 80px; }
    .notes .note .avatar img {
      border-radius: 50%; }
  .notes .note .note, .notes .note .comment-box {
    margin-left: 0.5rem; }
  .notes .note .state {
    margin-bottom: 10px; }

.note .state-new, .note .state-accepted, .note .state-reopened {
  color: green; }

.note .state-rejected {
  color: #df0000; }

.note .comment {
  border: 1px solid #eee;
  margin: 1rem; }
  .note .comment .avatar {
    height: 70px;
    padding: 0px; }
    .note .comment .avatar img {
      height: 100%; }
