.element-group {
  .element {
    background: white;
  }

  margin-bottom: 20px;
}

.notes {
  .current-state {
    margin-bottom: 10px;
  }

  .element {
    p {
      padding: 1rem;
    }

    .chapter-info {
      padding: 1rem;
      font-size: 85%;
      color: #aaa;
    }

    background: white;
  }

  .note {
    margin: 20px 0px;
    padding-left: 1rem;
    padding-top: 1rem;
    border: 1px solid lighten(#007bff, 30%);
    background: lighten(#007bff, 47%);
    border-radius: 10px;

    .avatar {
      img {
        border-radius: 50%;
      }
      background: transparent;
      width: 80px;
    }

    .note, .comment-box {
      margin-left: 0.5rem;
    }

    .state {
      margin-bottom: 10px;

      .open-label {
        color: #28a745;
      }

      .closed-label {
        color: #dc3545;
      }
    }
  }
}

.note {
  .state-new, .state-accepted, .state-reopened {
    color: green;
  }

  .state-rejected {
    color: #df0000;
  }

  .comment {
    border: 1px solid #eee;
    margin: 1rem;

    .avatar {
      height: 70px;
      padding: 0px;

      img {
        height: 100%;
      }
    }
  }
}
