.element-group {
  margin-bottom: 20px; }
  .element-group .element {
    background: white; }

.notes .element {
  padding: 1rem;
  background: white; }

.notes .note {
  margin: 20px 0px;
  margin-left: 0.5rem;
  padding-left: 5px;
  padding-top: 5px;
  border: 1px solid #99caff;
  background: #f0f7ff;
  border-radius: 10px; }
  .notes .note .avatar {
    background: transparent;
    width: 80px; }
    .notes .note .avatar img {
      border-radius: 50%; }

.note .state-new, .note .state-accepted, .note .state-reopened {
  color: green; }

.note .state-rejected {
  color: #df0000; }

.note .comment {
  border: 1px solid #eee;
  margin: 1rem; }
  .note .comment .avatar {
    height: 70px;
    padding: 0px; }
    .note .comment .avatar img {
      height: 100%; }
