<div class='row'>
  <div class='col-md-7 main'>

    <h1><%= book.title %></h1>
    LINK TO NOTES GOES HERE
    <hr>

    <% if frontmatter.any? %>
      <h3>Frontmatter</h3>
      <ol class='frontmatter' id='frontmatter'>
        <% frontmatter.each do |chapter| %>
          <li><%= link_to chapter.title, routes.book_branch_chapter_path(book.permalink, branch.name, chapter.permalink) %></li>
        <% end %>
      </ol>
    <% end %>

    <h3>Mainmatter</h3>
    <ol class='chapters' id='mainmatter'>
      <% mainmatter.each do |chapter| %>
        <li><%= link_to chapter.title, routes.book_branch_chapter_path(book.permalink, branch.name, chapter.permalink) %></li>
      <% end %>
    </ol>

    <% if backmatter.any? %>
      <h3>Backmatter</h3>
      <ol class='chapters' id='backmatter'>
        <% backmatter.each do |chapter| %>
          <li><%= link_to chapter.title, routes.book_branch_chapter_path(book.permalink, branch.name, chapter.permalink) %></li>
        <% end %>
      </ol>
    <% end %>
  </div>
</div>

