<div class='row'>
  <div class='col-md-8 main'>
    <h1>Books</h1>
    <% books.each do |book| %>
      <h2><%= link_to book.title, routes.book_branch_path(book_id: book.permalink, id: default_branch(book)) %></h2>
      <span class='blurb'><%= book.blurb %></span>
    <% end %>
  </div>

  <div id='sidebar' class='col-md-4'>
    <%= link_to 'Add Book', routes.new_book_path %>
  </div>
</div>
