.elementContainer {
  border: 1px solid #dedede;

  img {
    max-width: 100%;
    max-height: 50vh;
  }
}

.elementContainer + .elementContainer {
  margin-top: 1rem;
}

.element {
  padding: 1rem;
  background: #f8f8f8;
}
