@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css");
@import url(css/highlights.css);
.blurb {
  color: #666; }

.frontmatter {
  list-style-type: lower-roman; }

#chapter {
  margin-left: 5em;
  padding: 2.5rem 1.5rem; }
  #chapter p, #chapter ol, #chapter ul {
    line-height: 1.75; }
  #chapter .image {
    margin: 3rem 0;
    text-align: center; }
    #chapter .image img {
      border: 1px solid #eee;
      width: 95%; }
    #chapter .image .missing_image {
      background: red;
      color: white; }
  #chapter .aside, #chapter .tip {
    background: #D9F1FF;
    padding: 1rem;
    margin-bottom: 2rem; }

#section_listing {
  list-style-type: none;
  margin-left: -2rem;
  font-size: 90%; }
  #section_listing li {
    margin-bottom: 1rem; }
    #section_listing li.major {
      font-weight: bold; }
    #section_listing li.minor {
      font-size: 90%;
      line-height: 90%; }

.note_button {
  float: left;
  position: absolute;
  left: -4.5rem;
  font-size: 90%; }

.footnote_container {
  margin: 20px 0;
  color: #848484;
  font-size: 90%; }
  .footnote_container .number {
    font-size: 75%;
    float: left;
    margin-right: 10px; }

.element-group {
  background: #f9f9f9;
  padding: 10px;
  border: 1px solid #e9e9e9;
  margin-bottom: 10px;
  border-radius: 5px; }
  .element-group .element {
    background: white;
    padding: 10px;
    border: 1px solid #e9e9e9;
    border-radius: 5px; }

.notes .note {
  margin: 20px 0px;
  padding-left: 5px;
  padding-top: 5px;
  background: white;
  border: 1px solid #e9e9e9;
  border-radius: 5px; }
  .notes .note .avatar {
    width: 80px; }

.note .state-new, .note .state-accepted, .note .state-reopened {
  color: green; }

.note .state-rejected {
  color: #df0000; }

.note .comment {
  border: 1px solid #eee;
  margin: 1rem; }
  .note .comment .avatar {
    height: 70px;
    padding: 0px; }
    .note .comment .avatar img {
      height: 100%; }

body {
  margin: 1% 2.5% 1% 2.5%;
  font: 15px "Titillium Web", 'Helvetica Neue';
  color: #444;
  background: #efefef; }

hr {
  border-top: 1px solid #ddd; }

.main {
  background: white;
  border: 1px solid #dadada;
  border-radius: 3px;
  padding: 2.5rem 1.5rem; }
