@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css");
@import "css/_common.scss";

body {
  margin: 1% 2.5% 1% 2.5%;
  font: 15px "Titillium Web", 'Helvetica Neue';
  color: #444;
  background: #efefef;
}

menu {
  padding-left: 0;
}

hr {
  border-top: 1px solid #ddd;
}

.main {
  background: white;
  border: 1px solid #dadada;
  border-radius: 3px;
  padding: 2.5rem 1.5rem;
}
