.chapter {
  img {
    max-width: 100%;
  }

  header {
    margin-bottom: 2rem;

    small {
      color: #999;
    }
  }

  h2, h3, h4 {
    margin-top: 2rem;
  }

  p {
    line-height: 150%;
  }
}

.footnotes {

  > div {
    margin-bottom: 0.5rem;
  }

  margin-bottom: 2rem;
}
