.note_button {
  min-width: 200px;
  float: left;
  position: absolute;
  left: -4rem;
  top: -1rem;

  a {
    color: #3182ce;
    font-weight: bold;
    font-size: 85%;
    margin-top: 3px;
    text-decoration: none;
  }
}
